<strong>Olá, {{ deliveryman }}</strong>
<p>Uma encomenda registrada em seu nome foi cancelada, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Razão do cancelamento: </strong> {{ description }} <br />
  <strong>Data do cancelament: </strong> {{ canceled_at }} <br />
  <br />
  <small>
    Desde já agradecemos a sua parceria.
  </small>
</p>
